<div class="media">
  <div class="media__imagem">
    <svg class="icon .icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo maiores
      est, dolor iure asperiores magnam illo molestias qui et at quibusdam
      nesciunt. Vel totam atque culpa, quo error consectetur?
    </p>
  </div>
</div>
